<div data-anchor="page2" class="pp-scrollable section section-2">
    <div class="scroll-wrap">
        <div class="scrollable-content">
            <div class="vertical-centred">
                <div class="boxed boxed-inner">
                    <div class="vertical-title text-dark hidden-xs hidden-sm"><span>What We do</span></div>
                    <div class="boxed">
                        <div class="container">
                            <div class="intro">
                                <div class="row">
                                    <div class="col-12 mb-10r">
                                        <h2 class="title-uppercase">A new type of <br> <span class="text-primary">consultancy</span></h2>
                                        <h6>  Digital to the core. Open by default. Empowered talent. Public servants at heart. We’re a new type of government consultancy for the digital era.</h6>
                                    </div>

                                    @*First Row*@
                                    <div class="row mb-5r">
                                        <div class="col-md-5 col-lg-5">
                                            <h2 class="title-uppercase">Solving <span class="text-primary">important</span><br> problems</h2>
                                            Every day millions of people — from veterans to immigrants — depend on government services to fulfill their needs. But too often these services are delivered using outmoded policies, practices, and technologies. We’re public servants at heart who are driven to make these services work better in the internet era.
                                        </div>

                                        <div class="col-md-6 col-lg-5 col-md-offset-1 col-lg-offset-2">
                                            <div class="dots-image-2">
                                                <img alt="" class="img-responsive" src="template/images/1-470x490.jpg">
                                                <div class="dots"></div>
                                                @*   <div class="experience-info">
                                                    <div class="number">4</div>
                                                    <div class="text">Years<br>Experience<br>Working</div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    @*Second Row*@
                                    <div class="row mb-5r">
                                        <div class="col-md-5 col-lg-5">
                                            <div class="dots-image-2">
                                                <img alt="" class="img-responsive" src="template/images/1-470x490.jpg">
                                                <div class="dots"></div>
                                                @*   <div class="experience-info">
                                                    <div class="number">4</div>
                                                    <div class="text">Years<br>Experience<br>Working</div>
                                                    </div>*@
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-5 col-md-offset-1 col-lg-offset-2">
                                            <h2 class="title-uppercase">Services designed for<br><span class="text-primary">your success</span></h2>
                                            Thinking and being digital requires fundamental practice, culture, and technology change. And that means institutionalizing modern disciplines such as human-centered design and lean-agile engineering. Everything we offer is designed to accelerate your journey to becoming a digital-first agency.
                                        </div>

                                    </div>

                                    @*Third Row*@
                                    <div class="row mb-5r">
                                        <div class="col-md-5 col-lg-5">
                                            <h2 class="title-uppercase"><span class="text-primary">Experience to solve</span> your toughest challenges </h2>
                                            We founded and scaled 18F, built and sold technology startups, created standards that power the internet, and more. With our unique blend of government and commercial expertise, you can rely on us to help solve your agency’s toughest digital challenges.
                                        </div>


                                        <div class="col-md-6 col-lg-5 col-md-offset-1 col-lg-offset-2">
                                            <div class="dots-image-2">
                                                <img alt="" class="img-responsive" src="template/images/1-470x490.jpg">
                                                <div class="dots"></div>
                                                @*   <div class="experience-info">
                                                    <div class="number">4</div>
                                                    <div class="text">Years<br>Experience<br>Working</div>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>

                                    @*Fourth Row*@
                                    <div class="row mb-5r">
                                        <div class="col-md-5 col-lg-5">
                                            <div class="dots-image-2">
                                                <img alt="" class="img-responsive" src="template/images/1-470x490.jpg">
                                                <div class="dots"></div>
                                                @*   <div class="experience-info">
                                                    <div class="number">4</div>
                                                    <div class="text">Years<br>Experience<br>Working</div>
                                                    </div>*@
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-5 col-md-offset-1 col-lg-offset-2">
                                            <h2 class="title-uppercase"><span class="text-primary">Strengthening</span> your <span class="text-primary"> culture </span> through ours</h2>
                                            Culture change is at the heart of achieving digital mastery. From openly sharing our knowledge to hiring first-rate talent to treating every interaction as a teaching opportunity, our culture is designed to empower you to succeed in the digital age.
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @code {

    }
