@using Microsoft.AspNetCore.Components.Web
@namespace LandingPage.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var googleFontsUrl = "https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CWork+Sans:300,400,500,600&display=swap";
    var lottieUrl = "https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <base href="~/" />
    <!-- set the encoding of your site -->
    <meta charset="utf-8" />
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- set the apple mobile web app capable -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- set the HandheldFriendly -->
    <meta name="HandheldFriendly" content="True" />
    <!-- set the apple mobile web app status bar style -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- set the description -->
    <meta name="google-site-verification" content="ha0LKVx0HRHH1J3Vw094ekkkHFahiaNFPplvdGJtgLg" />
    <meta name="description" content="NativoPlus is an enterprise software development company which offers complete custom software solutions. We develop web, mobile, and desktop applications. Our business goal is to help you make a better life for your employees, clients, and yourself.">
    <meta name="keywords" content="agency, Startup, bootstrap, business, corporate, creative, minimal, modern, onepage, personal, portfolio,  html5, responsive, Company, Hiring, Develpment, Software, APP, Mobile, Responsive, Design, ">
    <meta name="author" content="NativoPlus">

    <!-- Preconnect -->
    <link rel="preconnect" href="https://mc.sendgrid.com" crossorigin />
    <link rel="preconnect" href="https://google.com" crossorigin />
    <link rel="preconnect" href="https://gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Google fonts -->
    <link rel="preload" as="style" href=@googleFontsUrl />
    <link id="google-fonts" rel="stylesheet" media="print" href=@googleFontsUrl />
    <noscript>
        <link rel="stylesheet" href=@googleFontsUrl />
    </noscript>
    <script>
        document.getElementById("google-fonts").addEventListener('load', function() {
            this.onload = null;
            this.removeAttribute('media');
        });
    </script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="template/css/plugin-resets.css" />
    <link rel="stylesheet" href="template/css/fonts-icons.css" />
    <link rel="stylesheet" href="template/css/bundle.min.css" />
    <link rel="stylesheet" href="template/fonts/font-awesome-pro/css/all.min.css" />
    <link href="LandingPage.styles.css" rel="stylesheet" />
    <link rel="icon" href="template/images/assets/logo.png">
    <meta name="ahrefs-site-verification" content="40dff77532c1c319d3a094683d2ff3b386695d515ebd36de41674e368f9af4bd">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <!-- Blazor -->
    <script src="_framework/blazor.server.js" autostart="false"></script>

    <!-- Scripts -->
    <script defer src="template/js/jquery.js"></script>
    <script defer src="template/js/modal.js"> </script>
    <script defer src="template/js/plugins.min.js"></script>
    <script>
        Blazor.start().then(function() {
            var customScript = document.createElement('script');
            customScript.setAttribute('defer', 'defer');
            customScript.setAttribute('src', 'template/js/scripts.min.js');
            document.head.appendChild(customScript);

            var lottieScript = document.createElement('script');
            lottieScript.setAttribute('async', 'async');
            lottieScript.setAttribute('src', '@lottieUrl');
            document.head.appendChild(lottieScript);
        });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K48QSB7DXH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-K48QSB7DXH');
    </script>
</body>
</html>