@using Microsoft.AspNetCore.Components.Web
@namespace LandingPage.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var googleFontsUrl = "https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CWork+Sans:300,400,500,600";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <!-- set the encoding of your site -->
    <meta charset="utf-8" />
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- set the apple mobile web app capable -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- set the HandheldFriendly -->
    <meta name="HandheldFriendly" content="True" />
    <!-- set the apple mobile web app status bar style -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- set the description -->
    <meta name="google-site-verification" content="ha0LKVx0HRHH1J3Vw094ekkkHFahiaNFPplvdGJtgLg" />
    <meta name="description" content="NativoPlus Website">
    <meta name="keywords" content="agency, Startup, bootstrap, business, corporate, creative, minimal, modern, onepage, personal, portfolio,  html5, responsive">
    <meta name="author" content="NativoPlus">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href=@googleFontsUrl />
    <link id="google-fonts" rel="stylesheet" media="print" href=@googleFontsUrl />

    <noscript>
        <link rel="stylesheet" href=@googleFontsUrl />
    </noscript>

    <script nonce="NativoPlus">
        document.getElementById("google-fonts").addEventListener('load', function() {
            this.onload = null;
            this.removeAttribute('media');
        });
    </script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="template/css/plugin-resets.css" />
    <link rel="stylesheet" href="template/css/bundle.min.css" />

    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">*@

    <link href="LandingPage.styles.css" rel="stylesheet" />

    <!-- Page Title -->
    <title>NativoPlus</title>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body >
    @RenderBody()

    <!-- Blazor -->
    <script nonce="NativoPlus" src="_framework/blazor.server.js" autostart="false"></script>

    <!-- Template -->
    <script nonce="NativoPlus" src="template/js/jquery.js"></script>
    <script nonce="NativoPlus" src="template/js/modal.js"> </script>
    <script nonce="NativoPlus" src="template/js/plugins.min.js"></script>
    <script nonce="NativoPlus">
        Blazor.start().then(function() {
            var customScript = document.createElement('script');
            customScript.setAttribute('src', 'template/js/scripts.min.js');
            customScript.setAttribute('nonce', 'NativoPlus');
            document.head.appendChild(customScript);
        });
    </script>
</body>
</html>