@*Imports*@
@inject IJSRuntime jsRuntime
@using LandingPage
@using LandingPage.Pages.Views
@using LandingPage.Pages.Views.Portfolio
@using LandingPage.Pages.Views.Article
@using LandingPage.Domain.Entities
@using LandingPage.Pages.Views.UseCase
@*Page*@
@layout EmptyLayout
@page "/"


<!-- start of main page wrapper -->
<div id="wrapper">
    <!-- start of preloader -->
    <div class="loader-container" id="loader">
        <div class="spinner spinner-round"></div>
    </div><!-- end of preloader -->
    <div class="w1">
        <!-- start of page header -->
        <header id="header" class="nospace">
            <!-- header holder -->
            <div class="header-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- Page logo -->
                            <div class="logo pull-left"><a href="index.html">Be.</a></div>
                            <div class="holder pull-right">
                                <a href="#" class="pe-7s-menu menu-opener opener pull-right visible-xs"></a>

                                <a href="#" class="pe-7s-search search-opener pull-right opener"></a>
                                <!-- start of page navigation -->
                                <nav id="nav" class="text-uppercase">
                                    <ul class="list-inline">
                                        <li>
                                            <a class="drop-link" href="#">Home</a>
                                            <div class="drop">
                                                <ul class="list-unstyled">
                                                    <li><a href="home1.html">HomePage 1</a></li>
                                                    <li><a href="home2.html">HomePage 2</a></li>
                                                    <li><a href="home3.html">HomePage 3</a></li>
                                                    <li><a href="home4.html">HomePage 4</a></li>
                                                    <li><a href="home5.html">HomePage 5</a></li>
                                                    <li><a href="home6.html">HomePage 6</a></li>
                                                    <li><a href="home7.html">HomePage 7</a></li>
                                                    <li><a href="home8.html">HomePage 8</a></li>
                                                    <li><a href="home9.html">HomePage 9</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="drop-link" href="#">Pages</a>
                                            <div class="drop">
                                                <ul class="list-unstyled">
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="team.html">Team</a></li>
                                                    <li><a href="services.html">Services</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    <li><a href="404.html">Error 404</a></li>
                                                    <li><a href="500.html">Error 500</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="drop-link" href="#">Portfolio</a>
                                            <div class="drop">
                                                <ul class="list-unstyled">
                                                    <li><a href="portfolio.html">Portfolio Standard</a></li>
                                                    <li><a href="portfolio2.html">Portfolio Masonry</a></li>
                                                    <li><a href="portfolio-detail.html">Portfolio Details</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="drop-link" href="#">Shop</a>
                                            <div class="drop">
                                                <ul class="list-unstyled">
                                                    <li><a href="shop.html">Shop 3 Columns</a></li>
                                                    <li><a href="shop2.html">Shop 4 Columns</a></li>
                                                    <li><a href="shop-sidebar.html">Shop Left Sidebar</a></li>
                                                    <li><a href="shop-sidebar2.html">Shop Right Sidebar</a></li>
                                                    <li><a href="shop-detail.html">Product Details</a></li>
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Checkout Page</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="drop-link" href="#">Blog</a>
                                            <div class="drop">
                                                <ul class="list-unstyled">
                                                    <li><a href="blog.html">Blog Standard</a></li>
                                                    <li><a href="blog-sidebar.html">Blog Left Sidebar</a></li>
                                                    <li><a href="blog-sidebar2.html">Blog Right Sidebar</a></li>
                                                    <li><a href="blog-detail-fullwidth.html">Blog Single</a></li>
                                                    <li><a href="blog-detail-leftsidebar.html">Blog Single Leftside</a></li>
                                                    <li><a href="blog-detail.html">Blog Single Rightside</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="drop-link" href="#">Elements</a>
                                            <div class="drop">
                                                <ul class="list-unstyled">
                                                    <li><a href="icontext.html">Icon with text</a></li>
                                                    <li><a href="testimonial.html">Testimonials</a></li>
                                                    <li><a href="price-table.html">Pricing Table</a></li>
                                                    <li><a href="progressbar.html">Progress Bar</a></li>
                                                    <li><a href="calltoaction.html">Call To Action</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </nav><!-- end of page navigation -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- end of page header -->
        <!-- start of search-popup -->
        <div class="search-popup">
            <div class="holder">
                <a href="#" class="search-close"><span></span><span></span></a>
                <div class="frame">
                    <form action="#">
                        <fieldset>
                            <input placeholder="Search here..." type="text">
                            <button class="pe-7s-search" type="submit"></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- end of search-popup -->
        <!-- start of page main section -->
        <main id="main">
            <!-- start of main banner -->
            <section class="main-banner text-center">
                <!-- slide -->
                <div class="slide bg-img-full" style="background-image: url(http://placehold.it/1920x1000);">
                    <span class="bg-overlay"></span>
                    <div class="caption">
                        <div class="holder">
                            <h1 class="heading add">A Startup <a href="https://www.youtube.com/embed/ANwf8AE3_d0?autoplay=1" class="play fa fa-play lightbox fancybox.iframe"></a> Using Be</h1>
                            <p>Start building your beautiful site with elegant comopnents to <br>convert your ideas and create your startups.</p>
                        </div>
                    </div>
                </div>
                <a href="#" data-scroll-nav="1" class="btn-bottom pe-7s-angle-down"></a>
            </section><!-- end of main banner -->
            <div class="container pad-top-lg" data-scroll-index="1">
                <!-- start of main-heading -->
                <header class="main-heading text-center row mar-bottom-md">
                    <div class="col-xs-12">
                        <h2 class="heading">Clean &amp; Simple</h2>
                        <p>When you create your startup the only way to win <br>is to race ahead not to stop and fight.</p>
                    </div>
                </header><!-- end of main-heading -->
                <div class="row mar-bottom-sm">
                    <!-- start of icon-box -->
                    <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box style2">
                        <span class="pe-7s-helm main-color icon"></span>
                        <div class="holder">
                            <span class="title">Startup Ready</span>
                            <p>Sed duis odio sit amet nibh vulputate cusus a sit amet mauris. Morbi viele accumsan ipsum velit nam nec tellus odio tincidunt auctor.</p>
                        </div>
                    </div><!-- end of icon-box -->
                    <!-- start of icon-box -->
                    <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box style2">
                        <span class="pe-7s-science main-color icon"></span>
                        <div class="holder">
                            <span class="title">Styled Sections</span>
                            <p>Lorem ipsum dolor sit amet, consecte adiping elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim.</p>
                        </div>
                    </div><!-- end of icon-box -->
                    <!-- start of icon-box -->
                    <div class="col-xs-12 col-sm-4 mar-bottom-xs icon-box style2">
                        <span class="pe-7s-target main-color icon"></span>
                        <div class="holder">
                            <span class="title">Unique Interface</span>
                            <p>Duis aute irure dolor in reprehenderit in volupta velit esse cillum dolore eu fugiat nulla pariatur except sint occaecat cupidatat proident.</p>
                        </div>
                    </div><!-- end of icon-box -->
                </div>
            </div>
            <!-- start of wedo section -->
            <section class="bg-grey wedo-section">
                <div class="container pad-top-lg pad-bottom-lg">
                    <div class="row pad-top-xs">
                        <div class="col-md-7 col-xs-12">
                            <!-- start of main-heading -->
                            <header class="main-heading mar-bottom-lg">
                                <h2 class="heading mar-bottom-xs">What we can do ?</h2>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu.</p>
                            </header><!-- end of main-heading -->
                            <div class="row">
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box small">
                                    <span class="pe-7s-photo-gallery main-color icon"></span>
                                    <div class="holder">
                                        <span class="title">Multi Blocks</span>
                                        <p>Duis sed odio sit amet nibh vtate cure sit amet mauris morbi accumsan. </p>
                                    </div>
                                </div><!-- end of icon-box -->
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box small">
                                    <span class="pe-7s-refresh-2 main-color icon"></span>
                                    <div class="holder">
                                        <span class="title">Continual Updates</span>
                                        <p>Lorem ipsum dolor sit amet, elit sed do eiusmod tempor incididunt. </p>
                                    </div>
                                </div><!-- end of icon-box -->
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box small">
                                    <span class="pe-7s-graph1 main-color icon"></span>
                                    <div class="holder">
                                        <span class="title">Analysis Data</span>
                                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra per. </p>
                                    </div>
                                </div><!-- end of icon-box -->
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box small">
                                    <span class="pe-7s-chat main-color icon"></span>
                                    <div class="holder">
                                        <span class="title">24 / 7 Support</span>
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
                                    </div>
                                </div><!-- end of icon-box -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-box bg-img-full" style="background-image: url(http://placehold.it/585x750);"></div>
            </section><!-- end of wedo section -->
            <!-- start of t-section -->
            <div class="bg-img-full bg-img-parallax t-section pad-top-lg pad-bottom-lg" style="background-image: url(http://placehold.it/1920x1400);">
                <span class="bg-overlay"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-lg-8 col-md-push-1 col-lg-push-2">
                            <!-- t-slider -->
                            <div class="t-slider">
                                <!-- slide -->
                                <div class="slide text-center">
                                    <blockquote>
                                        <img src="http://placehold.it/80x80" alt="img" class="img img-responsive">
                                        <q>It’s just brilliant, And i will recommend Be to everyone I know! I am really glad to these guys got pure out there. I’ve bought it and now think perhaps I should have invested. </q>
                                        <cite>Steve Martin, Envato inc.</cite>
                                    </blockquote>
                                </div>
                                <!-- slide -->
                                <div class="slide text-center">
                                    <blockquote>
                                        <img src="http://placehold.it/80x80" alt="img" class="img img-responsive">
                                        <q>It’s just brilliant, And i will recommend Be to everyone I know! I am really glad to these guys got pure out there. I’ve bought it and now think perhaps I should have invested. </q>
                                        <cite>Adam Martin, PAK inc.</cite>
                                    </blockquote>
                                </div>
                                <!-- slide -->
                                <div class="slide text-center">
                                    <blockquote>
                                        <img src="http://placehold.it/80x80" alt="img" class="img img-responsive">
                                        <q>It’s just brilliant, And i will recommend Be to everyone I know! I am really glad to these guys got pure out there. I’ve bought it and now think perhaps I should have invested. </q>
                                        <cite>Martin Martin, EGY inc.</cite>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end of t-section -->
            <div class="bg-grey pad-top-lg pad-bottom-md">
                <div class="container">
                    <!-- start of main-heading -->
                    <header class="main-heading text-center row">
                        <div class="col-xs-12">
                            <h2 class="heading">Pricing Options</h2>
                            <p>When you create your startup the only way to win <br>is to race ahead not to stop and fight.</p>
                        </div>
                    </header><!-- end of main-heading -->
                    <div class="row pad-top-md text-center">
                        <div class="col-xs-12 col-lg-11">
                            <!-- start of price-box -->
                            <div class="price-box active mar-bottom-xs">
                                <span class="title text-uppercase">Starter</span>
                                <span class="price">Free</span>
                                <span class="dur">per month</span>
                                <ul class="list-unstyled">
                                    <li>Up to 4 users monthly</li>
                                    <li>Limited updates</li>
                                    <li><span class="pe-7s-close"></span></li>
                                    <li><span class="pe-7s-close"></span></li>
                                </ul>
                                <a href="#" class="btn btn-green">Get Started</a>
                            </div><!-- end of price-box -->
                            <!-- start of price-box -->
                            <div class="price-box mar-bottom-xs">
                                <span class="title text-uppercase">Premium</span>
                                <span class="price">29 <sup>$</sup></span>
                                <span class="dur">per month</span>
                                <ul class="list-unstyled">
                                    <li>Up to 10 users monthly</li>
                                    <li>Unlimited updates</li>
                                    <li>Free host &amp; domain</li>
                                    <li>Support 24 / 7</li>
                                </ul>
                                <a href="#" class="btn btn-default add">Get Started</a>
                            </div><!-- end of price-box -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pad-top-lg pad-bottom-lg">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- start of subscribe-form -->
                        <form action="#" class="subscribe-form">
                            <fieldset>
                                <h2 class="heading text-center">Sign Up Now and Get A Discount</h2>
                                <div class="holder text-center">
                                    <input type="text" placeholder="Your name*" class="input">
                                    <input type="text" placeholder="Your email address*" class="input large">
                                    <button class="btn btn-green" type="submit">Sign-Up Now</button>
                                </div>
                            </fieldset>
                        </form><!-- end of subscribe-form -->
                    </div>
                </div>
            </div>
        </main><!-- end of page main section -->
        <!-- start of page footer -->
        <footer id="footer">
            <div class="bg-dark2 pad-top-lg pad-bottom-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs">
                            <!-- logo -->
                            <div class="logo"><a href="#">Be.</a></div>
                            <p>Proin gravida nibh vel velit auctor aliquet <br>Aenean sollicitdin lorem quis. bindum auctor,  <br>nisi elit consequat ipsum sagittis.</p>
                            <!-- social -->
                            <ul class="list-inline social pad-top-xs">
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs">
                            <span class="title text-uppercase">Latest News</span>
                            <!-- start of twitter-feed -->
                            <ul class="list-unstyled twitter-feed">
                                <li><i class="fa fa-twitter" aria-hidden="true"></i>Forms don't have to be dull. Check out these great examples of subtly animated forms. <a href="#">http://enva.to/tTavD</a> </li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i>Take a look behind the scenes &amp; take a look at the process of designing the Envato Blog. #webdesign</li>
                            </ul><!-- end of twitter-feed -->
                        </div>
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs">
                            <span class="title text-uppercase">Get In Touch</span>
                            <!-- start of email-form -->
                            <form action="#" class="email-form">
                                <label for="email-input">Get latest news & updates and special promotions.</label>
                                <div class="holder">
                                    <input id="email-input" type="text" class="input" placeholder="Email address*">
                                    <button type="submit" class="btn btn-green">Subscribe</button>
                                </div>
                            </form><!-- end of email-form -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- start of f-bottom -->
            <div class="bg-dark3 f-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-left">© Be 2016, All Rights Reserved.</span>
                            <span class="pull-right"><a href="#">Policy Privacy</a>  &nbsp; &nbsp; &nbsp; &nbsp; <a href="#">Terms &amp; Conditions</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- end of f-bottom -->
        </footer><!-- end of page footer -->
    </div>
    <!-- Back Top of the page -->
    <span id="back-top" class="pe-7s-angle-up main-bg-color"></span>
</div><!-- end of main page wrapper -->
@code {


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
        await base.OnAfterRenderAsync(firstRender);
    }
}