@*Imports*@
@inject IJSRuntime jsRuntime
@using LandingPage.Components
@using LandingPage.Domain.Entities
@*Page*@
@layout EmptyLayout
@page "/"

<div class="page">

    <div class="loader"><div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></div>

    <!-- Content CLick Capture-->
    @*<div class="click-capture"></div>*@

    <!-- Sidebar Menu-->

    <Nativo_Menu @bind-ToggleState=@MenuState Position=AllEnumerations.MenuPosition.Right>
        <Nativo_Menu_Item Text="Home" Url="#page1" />
        <Nativo_Menu_Item Text="Specialization" Url="#page2" />
        <Nativo_Menu_Item Text="Projects" Url="#page3" />
        <Nativo_Menu_Item Text="Services" Url="#page4" />
        <Nativo_Menu_Item Text="Reviews" Url="#page6" />
        <Nativo_Menu_Item Text="Contact" Url="#page7" />
    </Nativo_Menu>
    @*
        <div class="menu">
        <span class="close-menu icon-cross2 right-boxed"></span>
        <div class="menu-lang right-boxed">
        <a href="" class="active">Eng</a>
        <a href="">Fra</a>
        <a href="">Ger</a>
        </div>
        <ul class="menu-list right-boxed">
        <li data-menuanchor="page1">
        <a href="#page1">Home</a>
        </li>
        <li data-menuanchor="page2">
        <a href="#page2">Specialization</a>
        </li>
        <li data-menuanchor="page3">
        <a href="#page3">Projects</a>
        </li>
        <li data-menuanchor="page4">
        <a href="#page4">Services</a>
        </li>
        <li data-menuanchor="page6">
        <a href="#page6">Reviews</a>
        </li>
        <li data-menuanchor="page7">
        <a href="#page7">Contact</a>
        </li>
        </ul>
        <div class="menu-footer right-boxed">
        <div class="social-list">
        <a href="" class="icon ion-social-twitter"></a>
        <a href="" class="icon ion-social-facebook"></a>
        <a href="" class="icon ion-social-googleplus"></a>
        <a href="" class="icon ion-social-linkedin"></a>
        <a href="" class="icon ion-social-dribbble-outline"></a>
        </div>
        <div class="copy">© Jonny 2017. All Rights Reseverd<br> Design by LoganCee</div>
        </div>
        </div>
    *@

  
    <div class="copy-bottom white boxed">© NativoPlus Studio.</div>
    <!-- Languages  -->
    @*<div class="lang-bottom white boxed">
        <div class="menu-lang">
        <a href="" class="active">Eng</a>
        <a href="">Fra</a>
        <a href="">Ger</a>
        </div>
        </div>*@

    <!-- Views -->

   <MainPage/>

    <!-- Modals success -->

    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                    <h2 class="modal-title">Thank you</h2>
                    <p class="modal-subtitle">Your message is successfully sent...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                    <h2 class="modal-title">Sorry</h2>
                    <p class="modal-subtitle"> Something went wrong </p>
                </div>
            </div>
        </div>
    </div>


</div>

@code {

    private bool MenuState = false;

    private void ToggleMenu()
    {
        MenuState = !MenuState;
    }

}