@*Imports*@
@inject IJSRuntime jsRuntime
@using LandingPage
@using LandingPage.Components;
@*Page*@
@layout EmptyLayout
@page "/"


<!-- start of main page wrapper -->
<div id="wrapper">
    <Preloader />
    <div class="w1">
        <NavigationBar />
        <!-- start of page main section -->
        <main id="main">
            <!-- start of main banner -->
            <section class="main-banner text-center">
                <!-- slide -->
                <div class="slide bg-img-full" style="background-image: url(template/images/bg/landing_new.webp);">
                    <span class="bg-overlay"></span>
                    <div class="caption">
                        <div class="holder">
                            <h1 class="heading">Build Your <span id="rotating"></span></h1>
                            <p>It's all about you. From sketch to releasing your project.<br /> We'll be there to guide you at every step. </p>
                            <a href="https://4sdr7v8wyra.typeform.com/to/W1XrxyGw" class="btn btn-green-custom text-uppercase">Let's Talk!</a>
                        </div>
                    </div>
                </div>
                <a href="#" data-scroll-nav="1" class="btn-bottom pe-7s-angle-down" aria-label="Scroll to the next section of the page"></a>
            </section><!-- end of main banner -->
            <div class="container pad-top-lg" data-scroll-index="1">
                <!-- start of main-heading -->
                <header class="main-heading text-center row mar-bottom-md">
                    <div class="col-xs-12">
                        <h2 class="heading">Can’t find a technology partner that is easy to work with?</h2>
                        <p>We are a full-service agency that creates engaging digital experiences for customers and their projects.</p>
                    </div>
                </header><!-- end of main-heading -->
                <div class="pad-bottom-sm pad-top-md">
                    <div class="row">
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box">
                            <IconBox Icon="pe-7s-plugin" Title="Edit Content" Large=true
                                     Text="We are vision-driven problem-solvers. We make sure you have the best platform to build your vision.
                                        Our in-depth experience allows us to anticipate and plan for organizational, infrastructure needs
                                        so you don’t have to worry about a thing." />
                        </div>
                        <!-- end of icon-box -->
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box">
                            <IconBox Icon="pe-7s-config" Title="Services designed for your success" Large=true
                                     Text="You can count on us to help you find new ways to reach customers—and keep them coming back. That’s
                                    because we believe in a winning approach that combines tried-and-true practices like customer service
                                    and lean-agile engineering with the new thinking of human-centered design." />
                        </div>
                        <!-- end of icon-box -->
                    </div>
                    <div class="row">
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-6 mar-bottom-sm icon-box">
                            <IconBox Icon="pe-7s-like2" Title="Experience to solve your toughest challenges" Large=true
                                     Text="Here at NativoPlus, we help businesses solve their toughest digital challenges and provide you with a unique
                                    blend of skills and commercial expertise to do so. We founded and scaled NativoPlus, built and sold technology
                                    startups, created standards that power the internet, and more." />

                        </div><!-- end of icon-box -->
                        <!-- start of icon-box -->
                        <div class="col-xs-12 col-sm-6 mar-bottom-sm icon-box">
                            <IconBox Icon="pe-7s-gym" Title="Strengthening your culture through ours" Large=true
                                     Text="We believe in the power of culture to unite and transform. We work to create a world of collaboration, inclusiveness,
                                    and diversity. We believe in our employees and we believe in working together to create a digital future for everyone.
                                    Let’s build digital mastery together, cause our culture is designed to empower you to succeed in the digital age." />
                        </div><!-- end of icon-box -->
                    </div>
                </div>

              <PortfolioMansory/>
            </div>
            <Cookies />
            <CallToAction />
        </main><!-- end of page main section -->
        <!-- Footer Component -->
        <Footer />
    </div>
    <!-- Back Top of the page -->
    <BackToTop />
</div><!-- end of main page wrapper -->
<!-- Code -->
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Initialize Any JS Interop
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}