@import '../../wwwroot/template/scss/_bootstrap-custom.scss';

.border-bot {
    border-bottom: 1px solid $color3;
}

.collapsible.subheading span {
    cursor: pointer;
    color: #1c7d44;

    &:hover {
        color: #26a65b;
    }
}

.pm0 {
    padding: 0px !important;
    margin: 0px !important;
}

/*------------------------------------------------------------------
	Collapsible Item
-------------------------------------------------------------------*/

.active, .collapsible:hover {
}

.content {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.2s ease-out;
}

.icon {
    font-size: 26px;
}

.team-box {
    margin: 0px 20px;
}

.ms10{
    margin: 0px 10px;
}

.custom-pad{
    padding-top: 15px;
    padding-bottom: 5px;
}