.bg-img-full-custom {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-img-full-custom:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.0);
}
