@*Imports*@
@using LandingPage.Components
@*Page*@
@layout EmptyLayout
@page "/services"

<PageTitle>NativoPlus - Services</PageTitle>
<!-- start of main page wrapper -->
<div id="wrapper">
    <!-- start of preloader -->
    <Preloader />
    <!-- end of preloader -->
    <div class="w1">
        <!-- start of page header -->
        <NavigationBar />
        <!-- end of page header -->
        <!-- start of page main section -->
        <main id="main">
            <!-- start of page-header -->
            <div class="page-header text-center bg-img-full" style="background-image: url(template/images/bg/services.webp);">
                <div class="pad-top-lg hidden-sm"></div>
                <span class="bg-overlay"></span>
                <div class="container pad-top-lg pad-bottom-lg">
                    <div class="row pad-top-md pad-bottom-xs">
                        <div class="col-xs-12">
                            <h1 class="heading">Services</h1>
                        </div>
                    </div>
                </div>
                <div class="pad-top-lg hidden-sm"></div>
            </div><!-- end of page-header -->
            <div class="container pad-top-lg">
                <!-- start of main-heading -->
                <header class="main-heading text-center row mar-bottom-sm">
                    <div class="col-xs-12">
                        <h2 class="heading pad-bottom-xs">We grow ideas into businesses <br />“and have fun while doing it.” </h2>
                        <button href="https://4sdr7v8wyra.typeform.com/to/W1XrxyGw" class="btn btn-green-hover mar-bottom-xs">Let's talk about your project</button>
                    </div>
                </header><!-- end of main-heading -->
                <!-- start of main-heading -->


            </div>
            <div class="bg-grey pad-top-lg">
        
                <!-- start of main-heading -->
                <div class="container pad-top-lg">
                    <header class="main-heading text-center row mar-bottom-md">
                        <div class="col-xs-12">
                            <h2 class="heading">Marketing & Service Design</h2>
                            <p>
                                We design a better service by understanding the users’ needs. We do this by conducting research and validating the project’s problem. We make sure your brand
                                is communicating effectively with a strategy to help you understand who you are and how to communicate in a meaningful way to your audience. We create unique
                                content for all your touchpoints, as efficiently as possible, so people can find your strongest stories, see your brand clearly, and engage with your business
                                consistently.
                            </p>
                        </div>
                    </header><!-- end of main-heading -->
                    <div class="pad-bottom-sm pad-top-md">
                          <header class="main-heading text-center row mar-bottom-md">
                        <div class="col-xs-12">
                            <h2 class="heading">Our Process</h2>
                          
                        </div>
                    </header><!-- end of main-heading -->
                        <div class="row">
                            <!-- start of icon-box -->
                            <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box">
                                <IconBox Icon="pe-7s-news-paper" Title="Scope" Large=true
                                         Text="Define the vision and scope of your project concept. Anticipate and plan for organizational
                                    and infrastructure needs. We’ll help you mobilize the right resources for your project." />
                            </div>
                            <!-- end of icon-box -->
                            <!-- start of icon-box -->
                            <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box">
                                <IconBox Icon="pe-7s-paint" Title="Design" Large=true
                                         Text="Diagram the architecture and review which options make the most sense for your business needs.
                                     We’ll help you create a roadmap with a SMART release schedule, and clear user stories and acceptance criteria." />
                            </div>
                            <!-- end of icon-box -->
                        </div>
                        <div class="row">
                            <!-- start of icon-box -->
                            <div class="col-xs-12 col-sm-6 mar-bottom-sm icon-box">
                                <IconBox Icon="pe-7s-coffee" Title="Develop" Large=true
                                         Text="Create mockups, rapid prototypes, and functional demos early and often (normally at each sprint planning meeting).
                                    Continuous development and integration. We build apps with you." />

                            </div><!-- end of icon-box -->
                            <!-- start of icon-box -->
                            <div class="col-xs-12 col-sm-6 mar-bottom-sm icon-box">
                                <IconBox Icon="pe-7s-gym" Title="Deploy" Large=true
                                         Text="Testing, QA, and deployment. Since you have been a part of the development process,
                                    you know exactly what is being built and how far along we are." />
                            </div><!-- end of icon-box -->
                        </div>
                    </div>
                </div>

            </div>
           

        </main>
        <!-- end of page main section -->
        <!-- start of promo-box -->
        <CallToAction />
        <!-- end of promo-box -->
        <!-- start of page footer -->
        <Footer />
        <!-- end of page footer -->
    </div>
    <!-- Back Top of the page -->
    <BackToTop />
</div>

@code {

}
