<h5 class="title-uppercase text-white"><span class="text-primary">@Header</span></h5>
<div class="col-12">
    <div class="dots-image-2">
        <div>
            <Carousel @ref="_carousel">
                @foreach (var image in ImgsUrls)
                {

                    <CarouselSlick>
                        <img alt="" class="img-responsive" src="@image">

                    </CarouselSlick>
                }
            </Carousel>
            <div class="button-container">
                <Button OnClick="@( _=>_carousel.Previous())" Size="small">Prev</Button>
                
                <Button OnClick="@( _=>_carousel.Next())" Size="small">Next</Button>

            </div>
        </div>

        <div class="dots"></div>
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; } = string.Empty;
    [Parameter]
    public List<string> ImgsUrls { get; set; } = new List<string>();
    Carousel _carousel;
}
