<h5 class="title-uppercase text-white"><span class="text-primary">@Header</span></h5>
<div class="col-12">
    <div class="dots-image-2">
        <div id="sync1" class="owl-carousel owl-theme">
            @foreach (var image in ImgsUrls)
            {
                <div class="item">
                    <img alt="" class="img-responsive" src="@image">
                </div>
            }
        </div>
        <div class="dots"></div>
    </div>
</div>
<div>
    <div id="sync2" class="owl-carousel owl-theme">
        @foreach (var image in ImgsUrls)
        {
            <div class="item">
                <img alt="" class="img-responsive" src="@image">
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; } = string.Empty;
    [Parameter]
    public List<string> ImgsUrls { get; set; } = new List<string>();
}
