 #sync1 .item {
	 margin-right: 2rem;
	 -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 text-align: center;
}
 #sync2 .item {
	 background-color: rgba(0,0,0, .5);
	 margin-top: 2rem;
	 margin-right: 2rem;
	 -webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 text-align: center;
	 cursor: pointer;
}
 #sync2 .item h1 {
	 font-size: 18px;
}
 #sync2 .current .item {
	 background: #0c83e7;
}
 .owl-theme {
	/*default owl-theme theme reset .disabled:hover links */
}
 .owl-theme .owl-nav [class*='owl-'] {
	 transition: all 0.3s ease;
}
 .owl-theme .owl-nav [class*='owl-'].disabled:hover {
	 background-color: #d6d6d6;
}
 #sync1.owl-theme {
	 position: relative;
}
 #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
	 width: 22px;
	 height: 40px;
	 margin-top: -20px;
	 position: absolute;
	 top: 50%;
}
 #sync1.owl-theme .owl-prev {
	 left: 10px;
}
 #sync1.owl-theme .owl-next {
	 right: 10px;
}