@inject IJSRuntime jsRuntime
<div id="cookiebarBox" hidden class="os-animation" data-os-animation="fadeIn">
    <div class="col-md-4">
        <div class="bg-dark container pull-left pad-bottom-xs">

            <p class="pad-bottom-xs pad-top-xs">
                We use our own and third-party cookies to show you more relevant
                content based on your browsing and navigation history.
            </p>


            <button id="cookieBoxok" class="btn btn-green-hover" data-cookie="risk">OK</button>

        </div>
    </div>
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Initialize Any JS Interop
            await jsRuntime.InvokeAsync<IJSObjectReference>("import", "/template/js/cookies.js");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}