 <section class="bg-grey cookie">
   <div class="txt">
      <p class="">
         By using Your Website Name,<br>
         you agree to our <a href="#" target="_blanck">Cookie Policy.</a>
      </p>
   </div>
   <div>
      <a class="btn accept">Accept</a>
   </div>
</section>

@code{
    
}