ul {
    list-style: none;
}

li > a{
    color: #ffffff;
}

li > a:hover {
    color: #26a65b;
}

.email-form .input {
    width: 64% !important;
}

.email-form .btn {
    width: 36% !important;
}

.pad-top-xs {
    padding-top: 0px !important;
}

@media (max-width: 767px) {

    #footer{
        text-align: center
    }

    ul.unstyled {
        padding-left: 0px;
    }

}