  <!-- start of page footer -->
        <footer id="footer">
            <div class="bg-dark2 pad-top-lg pad-bottom-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs">
                            <!-- logo -->
                            <div class="logo"><a href="#">NativoPlus</a></div>
                            <p>Proin gravida nibh vel velit auctor aliquet <br>Aenean sollicitdin lorem quis. bindum auctor,  <br>nisi elit consequat ipsum sagittis.</p>
                            <!-- social -->
                            <ul class="list-inline social pad-top-xs">
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs">
                            <span class="title text-uppercase">Latest News</span>
                            <!-- start of twitter-feed -->
                            <ul class="list-unstyled twitter-feed">
                                <li><i class="fa fa-twitter" aria-hidden="true"></i>Forms don't have to be dull. Check out these great examples of subtly animated forms. <a href="#">http://enva.to/tTavD</a> </li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i>Take a look behind the scenes &amp; take a look at the process of designing the Envato Blog. #webdesign</li>
                            </ul><!-- end of twitter-feed -->
                        </div>
                        <div class="col-xs-12 col-sm-4 mar-bottom-xs">
                            <span class="title text-uppercase">Get In Touch</span>
                            <!-- start of email-form -->
                            <form action="#" class="email-form">
                                <label for="email-input">Get latest news & updates and special promotions.</label>
                                <div class="holder">
                                    <input id="email-input" type="text" class="input" placeholder="Email address*">
                                    <button type="submit" class="btn btn-green-hover">Subscribe</button>
                                </div>
                            </form><!-- end of email-form -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- start of f-bottom -->
            <div class="bg-dark3 f-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pull-left">© NativoPlus 2021, All Rights Reserved.</span>
                            <span class="pull-right"><a href="#">Policy Privacy</a>  &nbsp; &nbsp; &nbsp; &nbsp; <a href="#">Terms &amp; Conditions</a></span>
                        </div>
                    </div>
                </div>
            </div><!-- end of f-bottom -->
        </footer><!-- end of page footer -->
@code {

}
