<div data-anchor="page1" class="pp-scrollable text-white section section-1">
    <div class="scroll-wrap">
        <div class="section-bg" style="">

            <video style="object-fit: cover; height:100%; width: 100%; opacity: .40"
                   loop
                   autoplay
                   muted>
                <source src="/template/videos/beach.mp4" type="video/mp4" />

            </video>
        </div>
        <div class="scrollable-content">
            <div class="vertical-centred">
                <div class="boxed boxed-inner">
                    <div class="vertical-title hidden-xs hidden-sm"><span>Introduce</span></div>
                    <div class="boxed">
                        <div class="container">
                            <div class="intro">
                                <div class="row">
                                    <div class="col-md-8 col-lg-6">
                                        <p class="subtitle-top">Welcome To<br>Nativo Plus Studio</p>
                                        <h2 class="display-2 text-white h2-landing"><span class="text-primary">Hello</span> Welcome to Nativos Website.</h2>
                                        <div class="hr-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    public string localVideoSource = "/template/videos/beach.mp4";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        { }
    }
    protected override void OnInitialized()
    {
        StateHasChanged();

    }
}
