@implements IDisposable
@inject NavigationManager NavigationManager

<!-- start of page header -->
<header id="header" class="nospace">
    <!-- header holder -->

    <div class="header-holder">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <!-- Page logo -->
                    <div class="logo pull-left"><a href="/" @onclick:preventDefault @onclick=@( () => NavigateTo("/"))>NativoPlus</a></div>

                    <div class="pull-right">
                        <a href="https://4sdr7v8wyra.typeform.com/to/W1XrxyGw" class="logo btn-green-nav text-uppercase hidden-mobile">Let's Talk!</a>
                        <a href="#" @onclick:preventDefault @onclick="ToggleMenu" class="pe-7s-menu opener pull-right" style="font-size: 24px/34px;" aria-label="Open or close the navigation menu"></a>
                        <!-- start of page navigation -->
                        <Nativo_Menu_Template @bind-ToggleState=@MenuState Position=AllEnumerations.MenuPosition.Right CssClass="drawer" EnableOverlay=true>
                            <div class="header" role="banner" >
                                <div class="nav-logo">
                                    <a @onclick:preventDefault @onclick=@( () => NavigateTo("/")) href="#" aria-label="The company logo"><img src="template/images/assets/logo.webp" alt="The company logo" height="40" width="175" /></a>
                                </div>
                                <div class="nav-wrap">
                                    <nav class="main-nav" role="navigation">
                                        <ul class="unstyled list-hover-slide">
                                            <li><a @onclick:preventDefault @onclick=@( () => NavigateTo("/about")) href="#" aria-label="Learn more about us">About us</a></li>
                                            <li><a @onclick:preventDefault @onclick=@( () => NavigateTo("/services")) href="#" aria-label="Learn more about our services">Services</a></li>

                                            @* <li><a href="#">Work</a></li>
                                                <li><a href="#">Contact</a></li>
                                                <li><a href="#">Blog</a></li>*@
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </Nativo_Menu_Template>
           
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><!-- end of page header -->
@code {
    private bool MenuState = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void ToggleMenu()
    {
        MenuState = !MenuState;
    }

    public void NavigateTo(string path)
    {
        // Forced Reload To Ensure a Fresh Instance of Javascript Files.
        NavigationManager.NavigateTo(path, forceLoad: true);
    }
    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        string navigationMethod = e.IsNavigationIntercepted ? "HTML" : "code";
        System.Diagnostics.Debug.WriteLine($"Notified of navigation via {navigationMethod} to {e.Location}");
    }
    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
    }
}
