<div class="simple_hover_modal">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">&times;</div>
        @Content
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? Content { get; set; }
}
