<div data-anchor="page5" class="pp-scrollable text-white section section-6">
    <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(template/images/bg/bg3.jpg);"></div>
        <div class="scrollable-content">
            <div class="vertical-centred">
                <div class="boxed boxed-inner">
                    <div class="vertical-title hidden-xs hidden-sm"><span>Resume</span></div>
                    <div class="boxed">
                        <div class="container">
                            <div class="intro">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-resume">
                                            <h6 class="resume-title">
                                                Education
                                            </h6>
                                            <div class="resume-content">
                                                <div class="resume-inner">
                                                    <div class="resume-row">
                                                        <h6 class="resume-type">SPECIALIZATION COURSE</h6>
                                                        <p class="resume-study">University of studies, Poland, Cracow</p>
                                                        <p class="resume-date text-primary">Jan 2004 - Dec 2006</p>
                                                        <p class="resume-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis animi assumenda sint recusandae! Dolor placeat debitis animi illum quo repellendus pariatur, enim doloribus, </p>
                                                    </div>
                                                    <div class="resume-row">
                                                        <h6 class="resume-type">SPECIALIZATION COURSE</h6>
                                                        <p class="resume-study">University of studies, Poland, Cracow</p>
                                                        <p class="resume-date text-primary">Jan 2004 - Dec 2006</p>
                                                        <p class="resume-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis animi assumenda sint recusandae! Dolor placeat debitis animi illum quo repellendus pariatur, enim doloribus</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-resume">
                                            <h6 class="resume-title">
                                                Experience
                                            </h6>
                                            <div class="resume-content">
                                                <div class="resume-inner">
                                                    <div class="resume-row">
                                                        <h6 class="resume-type">WEBDESIGNER & FRONT-END</h6>
                                                        <p class="resume-study">University of studies, Poland, Cracow</p>
                                                        <p class="resume-date text-primary">Jan 2004 - Dec 2006</p>
                                                        <p class="resume-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis animi assumenda sint recusandae! Dolor placeat debitis animi illum quo repellendus pariatur, enim doloribus, deleniti!</p>
                                                    </div>
                                                    <div class="resume-row">
                                                        <h6 class="resume-type">SPECIALIZATION COURSE</h6>
                                                        <p class="resume-study">University of studies, Poland, Cracow</p>
                                                        <p class="resume-date text-primary">Jan 2004 - Dec 2006</p>
                                                        <p class="resume-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis animi assumenda sint recusandae! Dolor placeat debitis animi illum quo repellendus pariatur, enim doloribus, deleniti!!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
