@*Imports*@
@inject IJSRuntime jsRuntime
@using LandingPage
@using LandingPage.Components;
@*Page*@
@layout EmptyLayout
@page "/work/services"


<div class="wrapper">
    <Preloader />
    <div class="w1">
        <NavigationBar />
        <!-- start of page main section -->
        <main id="main">
            <!-- start of page-header -->
            <div class="page-header text-center bg-img-full" style="background-image: url(template/images/bg/art.jpg);">
                <div class="pad-top-lg hidden-sm"></div>
                <span class="bg-overlay"></span>
                <div class="container pad-top-lg pad-bottom-lg">
                    <div class="row pad-top-md pad-bottom-xs">
                        <div class="col-xs-12">
                            <h1 class="heading">Services</h1>
                        </div>
                    </div>
                </div>
                <div class="pad-top-lg hidden-sm"></div>
            </div><!-- end of page-header -->
            <div class="container pad-top-lg">
                <!-- start of main-heading -->
                <header class="main-heading text-center row mar-bottom-sm">
                    <div class="col-xs-12">
                        <h2 class="heading">We Build Your Idea</h2>
                        <p>When you create your startup the only way to win <br>is to race ahead not to stop and fight.</p>
                    </div>
                </header><!-- end of main-heading -->
                <div class="row mar-bottom-xs">
                    <!-- start of icon-box -->
                    <div class="col-xs-12 col-sm-6 col-md-3 mar-bottom-xs icon-box style3 text-center">
                        <span class="pe-7s-mouse main-color icon"></span>
                        <div class="holder">
                            <span class="title">Build a Website</span>
                            <p class="mar-bottom-xs">Duis aute irure dolor in reprehenderit voluptate velit esse cilleum dolore eu fugiat nulla pariatur, excepteur sint occaecte cupidate proident.</p>
                        </div>
                    </div><!-- end of icon-box -->
                    <!-- start of icon-box -->
                    <div class="col-xs-12 col-sm-6 col-md-3 mar-bottom-xs icon-box style3 text-center">
                        <span class="pe-7s-rocket main-color icon"></span>
                        <div class="holder">
                            <span class="title">Create Startup</span>
                            <p class="mar-bottom-xs">Nemo enim ipsam voluptatem quia voluptas sit aspernate aut odit aut fugit, sed quia consequunte magni dolores eos qui ratione veile sequi.</p>
                        </div>
                    </div><!-- end of icon-box -->
                    <!-- start of icon-box -->
                    <div class="col-xs-12 col-sm-6 col-md-3 mar-bottom-xs icon-box style3 text-center">
                        <span class="pe-7s-phone main-color icon"></span>
                        <div class="holder">
                            <span class="title">Build an App</span>
                            <p class="mar-bottom-xs">Sede ut perspiciatis unde omnis iste natuse error voluptatem accusantium doloremque laudante, totam rem aperiam viele eaque quae.</p>
                        </div>
                    </div><!-- end of icon-box -->
                    <!-- start of icon-box -->
                    <div class="col-xs-12 col-sm-6 col-md-3 mar-bottom-xs icon-box style3 text-center">
                        <span class="pe-7s-graph1 main-color icon"></span>
                        <div class="holder">
                            <span class="title">Start a Business</span>
                            <p class="mar-bottom-xs">Sede ut perspiciatis unde omnis iste natuse error voluptatem accusantium doloremque laudante, totam rem aperiam viele eaque quae.</p>
                        </div>
                    </div><!-- end of icon-box -->
                </div>
            </div>
            <!-- start of wedo section -->
            <section class="bg-grey wedo-section">
                <div class="container pad-top-lg pad-bottom-lg">
                    <div class="row pad-top-xs">
                        <div class="col-md-7 col-xs-12">
                            <!-- start of main-heading -->
                            <header class="main-heading mar-bottom-lg">
                                <h2 class="heading mar-bottom-xs">What we can do ?</h2>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio sed non vitae erat consequat auctor eu in elit. Class aptent taciti.</p>
                            </header><!-- end of main-heading -->
                            <div class="row">
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box small">
                                    <span class="pe-7s-photo-gallery main-color icon"></span>
                                    <div class="holder">
                                        <span class="title">Multi Blocks</span>
                                        <p>Duis sed odio sit amet nibh vtate cure sit amet mauris morbi accumsan. </p>
                                    </div>
                                </div><!-- end of icon-box -->
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box small">
                                    <span class="pe-7s-refresh-2 main-color icon"></span>
                                    <div class="holder">
                                        <span class="title">Continual Updates</span>
                                        <p>Lorem ipsum dolor sit amet, elit sed do eiusmod tempor incididunt. </p>
                                    </div>
                                </div><!-- end of icon-box -->
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box small">
                                    <span class="pe-7s-graph1 main-color icon"></span>
                                    <div class="holder">
                                        <span class="title">Analysis Data</span>
                                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra per. </p>
                                    </div>
                                </div><!-- end of icon-box -->
                                <!-- start of icon-box -->
                                <div class="col-xs-12 col-sm-6 mar-bottom-xs icon-box small">
                                    <span class="pe-7s-chat main-color icon"></span>
                                    <div class="holder">
                                        <span class="title">24 / 7 Support</span>
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
                                    </div>
                                </div><!-- end of icon-box -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-box bg-img-full" style="background-image: url(template/images/bg/art.jpg);"></div>
            </section><!-- end of wedo section -->
            <!-- start of promo-box -->
            <CallToAction />
            <!-- end of promo-box -->
        </main><!-- end of page main section -->
        <!-- start of page footer -->
        <Footer />
        <!-- end of page footer -->
    </div>
    <!-- Back Top of the page -->
    <BackToTop />
</div><!-- end of main page wrapper -->
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Initialize Any JS Interop
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}